html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

button {
  border: none;
  outline: none;
  padding: 0;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none; 
}

a:hover {
  color: #c2bcda;
}


button {
  margin: 30px 30px 0px;
  padding: 10px;
  text-align: center;
  background-color: white;
  font-size: 14px;
  color: #9780ea;
  cursor: pointer;
  border: 1px solid #d3d3d3;
  border-radius: 16px;
}

#root{
  height: 100%;
  display: flex;
}